/*********************************************
CSS Stylesheet for the program it will adjust the padding and margin to 0
and center the canvas while also hidding the overflow

CSS Properties taken from the Introducing Events module from week 5 by Pippin Barr (https://pippinbarr.com/cart253/topics/events/introducing-events.html)
**********************************************/

body {
  padding: 0;
  margin: 0;
  display: grid;
  /* Set up the grid and justify/align to center */
  justify-content: center;
  align-content: center;
  height: 100vh;
  /* Body is the height of the viewport */
  overflow: hidden;
  /* Hide anything that goes off the window size */
}