/*********************************************
CSS Stylesheet for the program it will adjust the padding and margin to 0
and center the canvas while also hidding the overflow

CSS Properties taken from the Introducing Events module from week 5 by Pippin Barr (https://pippinbarr.com/cart253/topics/events/introducing-events.html)
**********************************************/

body {
    font-family: 'Bagel Fat One';
    padding: 0;
    margin: 0;
    display: grid;
    /* Set up the grid and justify/align to center */
    justify-content: center;
    align-content: center;
    height: 100vh;
    /* Body is the height of the viewport */
    overflow: hidden;
    /* Hide anything that goes off the window size */
}

.btn {
    background-color: #fff;
    border: 5px solid #c0c0c0;
    font-family: 'Bagel Fat One';
    border-radius: 2em;
    font-size: 25px;
}

.food-action-btn {
    padding: 10px;
    background-color: #c27ba0;
    border: 5px solid #a64d79;
    color: #fff;
    -webkit-text-stroke: 1px black;
    font-family: 'Bagel Fat One';
    border-radius: 2em;
    font-size: 25px;
}